@charset "UTF-8";
:root {
  --text-color: #111111;
  --page-width: 75vw;
  --menu-color:#ABB2B9;
  --universe-bg: #415f78;
  --universe-bg-light: #6c9baa;
  --universe-bg-dark: #3c5064;
  --star-RED:#be4178;
  --star-BLUE:#6c9baa;
  --star-GREEN:#3caf96;
  --star-YELLOW:#ffc772;
  --star-BLACK:#3c5064; }

#root,
#root > div,
body,
html {
  height: 100%; }

a {
  text-decoration: none;
  border: none;
  color: var(--text-color); }

.App {
  max-width: var(--page-width);
  margin: 0 auto; }

.Header {
  padding: 2rem 0;
  display: flex; }

.Menu {
  flex-basis: 80%; }
  .Menu ul {
    text-align: right;
    list-style: none; }
    .Menu ul li {
      display: inline-block;
      margin-left: 2rem; }
    .Menu ul a {
      color: var(--menu-color);
      transition: color 0.3s ease; }
      .Menu ul a.active, .Menu ul a:hover {
        --menu-color: var(--text-color); }

.Logo {
  display: block;
  flex-basis: 20%; }
  .Logo img {
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s ease;
    transform-origin: 50% 50%; }
  .Logo:hover img {
    transform: scale(1.1); }

.Universes {
  display: flex;
  flex-wrap: wrap; }

.Star.addStar:after, .Star.addUniverse:after,
.Universe.addStar:after,
.Universe.addUniverse:after {
  position: absolute;
  display: block;
  content: '╋';
  font-size: 3rem;
  top: 50%;
  left: 50%;
  color: var(--universe-bg-dark);
  transform: translate(-50%, -50%); }

.Star.activated:after,
.Universe.activated:after {
  display: none; }

.Star.activated form,
.Universe.activated form {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease; }

.Star form,
.Universe form {
  opacity: 0;
  pointer-events: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .Star form button,
  .Star form input,
  .Universe form button,
  .Universe form input {
    border: none;
    height: 1.6rem;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    display: block;
    border-radius: 2px;
    max-width: 100%; }

.deleteStar {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  bottom: 1rem;
  right: 1rem;
  height: 1.4rem;
  width: 1.3rem;
  display: none;
  pointer-events: none;
  cursor: pointer; }
  .deleteStar:after {
    content: '✕';
    font-size: 1.4rem; }

.Universe {
  background-color: var(--universe-bg);
  margin: 0.5rem;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 10rem;
  min-height: 8rem;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --text-color: white;
  cursor: pointer;
  box-shadow: 0 0 0 0 var(--universe-bg-light);
  transition: box-shadow 0.2s ease; }
  .Universe h4 {
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--universe-bg-light); }
  .Universe .percentage {
    height: 1rem;
    display: block;
    position: relative;
    width: 100%;
    border-radius: 2rem;
    background-color: var(--universe-bg-dark);
    overflow: hidden; }
  .Universe .value {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #ffc772; }
  .Universe .universe-info {
    margin-top: 1rem;
    font-size: 0.8rem;
    --text-color: var(--universe-bg-light);
    color: var(--text-color); }
    .Universe .universe-info span {
      display: block; }
      .Universe .universe-info span:last-of-type {
        margin-top: 0.75rem; }
  .Universe:hover {
    box-shadow: 0 3px 4px -1px var(--universe-bg-light); }

.Stars {
  display: flex;
  flex-wrap: wrap; }
  .Stars.ofUniverse .Star .deleteStar {
    display: block; }
  .Stars.ofUniverse .Star:hover .deleteStar {
    pointer-events: auto;
    opacity: 1; }

.Star {
  margin: 0.5rem;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 5rem;
  min-height: 5rem;
  padding: 1rem;
  border-radius: 1rem;
  position: relative; }
  .Star.deleted {
    display: none; }
  .Star.RED {
    background-color: var(--star-RED); }
  .Star.BLUE {
    background-color: var(--star-BLUE); }
  .Star.GREEN {
    background-color: var(--star-GREEN); }
  .Star.YELLOW {
    background-color: var(--star-YELLOW); }
  .Star.BLACK {
    background-color: var(--star-BLACK); }
  .Star h4,
  .Star span {
    --text-color: white;
    color: var(--text-color); }
  .Star h4 {
    margin: 0 0 1rem; }
  .Star span {
    font-size: 0.8rem; }
  .Star.addStar:after {
    --universe-bg-dark: var(--universe-bg); }

.ChooseStarColor {
  padding: 0.8rem 0;
  display: block; }
  .ChooseStarColor .StarColor {
    cursor: pointer;
    float: left;
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    margin-right: 0.5rem;
    border: 2px solid white;
    border-radius: 2px; }
    .ChooseStarColor .StarColor[color=RED] {
      background-color: var(--star-RED); }
    .ChooseStarColor .StarColor[color=BLUE] {
      background-color: var(--star-BLUE); }
    .ChooseStarColor .StarColor[color=GREEN] {
      background-color: var(--star-GREEN); }
    .ChooseStarColor .StarColor[color=YELLOW] {
      background-color: var(--star-YELLOW); }
    .ChooseStarColor .StarColor[color=BLACK] {
      background-color: var(--star-BLACK); }

@media only screen and (max-width: 640px) {
  .App {
    --page-width:90vw; }
  .Menu ul {
    margin: 0; }
    .Menu ul li {
      display: block;
      margin-bottom: .3rem; } }
