@import 'variables.scss';

#root,
#root > div,
body,
html {
  height: 100%;
}

a {
  text-decoration: none;
  border: none;
  color: var(--text-color);
}

.App {
  max-width: var(--page-width);
  margin: 0 auto;
}

.Header {
  padding: 2rem 0;
  display: flex;
}

.Menu {
  flex-basis: 80%;

  ul {
    text-align: right;
    list-style: none;

    li {
      display: inline-block;
      margin-left: 2rem;
    }

    a {
      color: var(--menu-color);
      transition: color 0.3s ease;

      &.active,
      &:hover {
        --menu-color: var(--text-color);
      }
    }
  }
}

.Logo {
  display: block;
  flex-basis: 20%;

  img {
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s ease;
    transform-origin: 50% 50%;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.Universes {
  display: flex;
  flex-wrap: wrap;
}

.Star,
.Universe {
  &.addStar,
  &.addUniverse {
    &:after {
      position: absolute;
      display: block;
      content: '╋';
      font-size: 3rem;
      top: 50%;
      left: 50%;
      color: var(--universe-bg-dark);
      transform: translate(-50%,-50%);
    }
  }

  &.activated {
    &:after {
      display: none;
    }

    form {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.3s ease;
    }
  }

  form {
    opacity: 0;
    pointer-events: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button,
    input {
      border: none;
      height: 1.6rem;
      font-size: 0.8rem;
      padding: 0.2rem 0.5rem;
      display: block;
      border-radius: 2px;
      max-width: 100%;
    }
  }
}

.deleteStar {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  bottom: 1rem;
  right: 1rem;
  height: 1.4rem;
  width: 1.3rem;
  display: none;
  pointer-events: none;
  cursor: pointer;

  &:after {
    content: '✕';
    font-size: 1.4rem;
  }
}

.Universe {
  background-color: var(--universe-bg);
  margin: 0.5rem;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 10rem;
  min-height: 8rem;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --text-color: white;
  cursor: pointer;

  h4 {
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--universe-bg-light);
  }

  .percentage {
    height: 1rem;
    display: block;
    position: relative;
    width: 100%;
    border-radius: 2rem;
    background-color: var(--universe-bg-dark);
    overflow: hidden;
  }

  .value {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #ffc772;
  }

  .universe-info {
    margin-top: 1rem;
    font-size: 0.8rem;
    --text-color: var(--universe-bg-light);
    color: var(--text-color);

    span {
      display: block;

      &:last-of-type {
        margin-top: 0.75rem;
      }
    }
  }
  box-shadow: 0 0 0 0 var(--universe-bg-light);
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 3px 4px -1px var(--universe-bg-light);
  }
}

.Stars {
  display: flex;
  flex-wrap: wrap;

  &.ofUniverse {
    .Star {
      .deleteStar {
        display: block;
      }

      &:hover {
        .deleteStar {
          pointer-events: auto;
          opacity: 1;
        }
      }
    }
  }
}

.Star {
  margin: 0.5rem;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 5rem;
  min-height: 5rem;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;

  &.deleted {
    display: none;
  }
  @each $color in RED BLUE GREEN YELLOW BLACK {
    &.#{$color} {
      background-color: var(--star-#{$color});
    }
  }

  h4,
  span {
    --text-color: white;
    color: var(--text-color);
  }

  h4 {
    margin: 0 0 1rem;
  }

  span {
    font-size: 0.8rem;
  }

  &.addStar {
    &:after {
      --universe-bg-dark: var(--universe-bg);
    }
  }
}

.ChooseStarColor {
  padding: 0.8rem 0;
  display: block;

  .StarColor {
    cursor: pointer;
    float: left;
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    margin-right: 0.5rem;
    border: 2px solid white;
    border-radius: 2px;
    @each $color in RED BLUE GREEN YELLOW BLACK {
      &[color=#{$color}] {
        background-color: var(--star-#{$color});
      }
    }
  }
}
@import 'mobile.scss';
