:root{
  --text-color: #111111;
  --page-width: 75vw;
  --menu-color:#ABB2B9;
  --universe-bg: #415f78;
  --universe-bg-light: #6c9baa;
  --universe-bg-dark: #3c5064;

  --star-RED:#be4178;
  --star-BLUE:#6c9baa;
  --star-GREEN:#3caf96;
  --star-YELLOW:#ffc772;
  --star-BLACK:#3c5064;
}
